@inject IJSRuntime iJSRuntime;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" @onclick="ToggleNavMenu"></a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3" @onclick="GenerateMap">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> GENERATE MAP
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
        private async Task GenerateMap()
        {
            await iJSRuntime.InvokeVoidAsync("GenerateMap");
        }
    
}
